body{
	display:none;
}
#jpreOverlay {
	background-color: #20212d;
}
#jpreSlide{
	font-size:22px;
	font-weight:bold;
	color:#ccc;
	text-align:center;
	width:430px;
/*	height:30%;*/
	margin-top: -70px;
}
#jpreLoader{
	width:430px;
	height:2px;
	margin-top: -10px;
/*	box-shadow:0 0 7px 3px #fff;
	-moz-box-shadow:0 0 7px 3px #fff;
	-webkit-box-shadow:0 0 7px 3px #fff;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;*/
}
#jpreBar {
	/*display: none;*/
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#11cdd4;
}
#jprePercentage {
	width: 430px;
	color:#11cdd4;
	font-family:"Gotham";
	/*font-weight:bold;*/
	text-align:center;
	/*text-shadow:1px 1px 1px #333;*/
	/*top:-100%;*/
	top:8px;
	font-size: 24px;
	/*font-style: italic;*/
	/*margin: 0 0 0 50px;*/
	margin: auto;
}



@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-moz-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-ms-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-o-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}